<!DOCTYPE html>
<html>
    <head>
        <title>Home Page : Kanban</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    </head>
    <body>
        <div align="right">
            <a href="/{{ display_name }}/{{ ID }}/home">Home Page</a> | 
            <a href="/{{ display_name }}/{{ ID }}/summary">Summary</a> |
            <a href="/">Logout</a>
        </div>
        <div><h3>Welcome {{ display_name }}</h3></div>
        {% if (l) %}
        <div class = "row align-items-start">
            {% for row in l %}
            <div class = "col", style = "color:#fff; border:3px solid black; background: linear-gradient(to bottom, #ff66ed 0%, #000dff 100%);">
                <p style = "border:3px solid black">{{ row['list_name'] }} &nbsp; 
                <a href="/{{ display_name }}/{{ ID }}/{{ row['list_id'] }}/list_update"><button>Update</button></a>
                <a href="/{{ display_name }}/{{ ID }}/{{ row['list_id'] }}/list_delete"><button>Delete</button></a>
                </p><br>
                {% if (c) %}
                    {% for r in c %}
                    {% if (r['list_id'] == row['list_id']) %}
                        {% if (r['completion_date']) %}
                        <div class = "box", style = "border:3px solid black; background: transparent;">
                            <p style="border:3px solid black">{{ r['card_name'] }} &nbsp;   
                                <a href="/{{ display_name }}/{{ ID }}/{{ row['list_id'] }}/{{ row['list_name'] }}/{{ r['card_id'] }}/card_update"><button>Update</button></a>
                                <a href="/{{ display_name }}/{{ ID }}/{{ r['card_id'] }}/card_delete"><button>Delete</button></a>
                            </p><br>
                            <p style="text-align:left; color: black"><strong>Completion Date</strong><br>{{ r['completion_date'] }}</p>
                            <p style="text-align:center"> {{ r['card_details'] }}</p><br>
                            <p style = "text-align:right ;color: black"><strong> Deadline Date </strong><br>{{ r['deadline_date'] }}</p>
                            <strong><p style = "text-align:right; color: rgb(187, 238, 187);"> Completed</p></strong><br>
                        </div><br>
                        {% else %}
                        <div class = "box", style = "border:3px solid black; background: white;">
                            <p style="border:3px solid black; color:black">{{ r['card_name'] }} &nbsp;   
                                <a href="/{{ display_name }}/{{ ID }}/{{ row['list_id'] }}/{{ row['list_name'] }}/{{ r['card_id'] }}/card_update"><button>Update</button></a>
                                <a href="/{{ display_name }}/{{ ID }}/{{ r['card_id'] }}/card_delete"><button>Delete</button></a>
                                </select>
                            </p><br>
                            <p style="text-align: center; color: black"> {{ r['card_details'] }}</p><br>
                            <strong><p style = "text-align:right ;color: black"> Deadline Date </p></strong>
                            <p style="text-align: right; color: black"> {{ r['deadline_date'] }}</p><br>
                        </div><br>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% else %}
                <div> 
                    <p align = "middle">There are no cards in the list</p>
                </div>
                {% endif %}
            </div>&nbsp;&nbsp;
            {% endfor %}
        </div>
        {% else %}
        <div> 
            <p align = "middle">There are no lists in the board</p>
        </div>
        {% endif %}
    </body>
</html>


